{% extends "__layout.twig" %} {% block content %}
<div
  class="container d-flex flex-direction-row"
  style="flex-wrap: wrap; width: max-content"
>
  {% for object in suggestions %}
  <div
    class="d-flex flex-column"
    style="
      width: 250px;
      height: 250px;
      margin-right: 50px;
      margin-bottom: 145px;
    "
  >
    <div
      class="list-group position-relative"
      style="
        outline: 1px solid rgba(100, 100, 100, 0.25);
        border-radius: 5%;
        padding: 5px;
        margin-top: 15px;
      "
    >
      {% if is_admin %}
      <div class="position-absolute vis d-flex" style="right: 4px; top: 4px">
        <form method="POST" style="margin-right: 5px">
          <input name="id" type="hidden" value="{{ object.id }}" />
          <button type="sumbit" class="btn btn-outline-success">
            <i class="fas fa-check"></i>
          </button>
        </form>
        <form
          action="/games/suggestion/decision/{{ object.id }}/delete"
          method="POST"
        >
          <button type="sumbit" class="btn btn-outline-danger">
            <i class="fas fa-times" style="width: 15px"></i>
          </button>
        </form>
      </div>
      {% endif %}
      <img
        src="{{ object.image }}"
        style="
          width: 240px;
          height: 240px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-top: 10px;
          border-radius: 25%;
          margin-bottom: 10px;
        "
      />
      <a
        class="btn btn-primary"
        href="#"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        "
      >
        {{ object.ruName }}
      </a>
    </div>
  </div>
  {% endfor %}
</div>

<style>
  .vis {
    transition: 0.5s;
    opacity: 0;
  }

  .vis:hover {
    transition: 1s;
    opacity: 1;
  }
</style>
{% endblock %}
