{% extends "__layout.twig" %} {% block content %}
<div class="container">
  <h1>Добавление типа игры</h1>
  <hr />

  {% if message %}
  <div class="alert alert-info">
    {{ message }}
    <a href="/">Вернуться на главную</a>
  </div>
  {% endif %}

  <form enctype="multipart/form-data" method="POST" class="row g-3">
    <div class="col-6">
      <label class="form-label">Тип на русском</label>
      <input type="text" class="form-control" name="typeRu" />
    </div>
    <div class="col-6">
      <label class="form-label">Тип на английском</label>
      <input type="text" class="form-control" name="type" />
    </div>
    <div class="col-12 text-end">
      <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
  </form>
</div>

{% endblock %}
